<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVMService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://st.atb.no:90/VMWS/VMService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVMService" contract="IVMService"
                name="BasicHttpBinding_IVMService" />
        </client>
    </system.serviceModel>
</configuration>